{% extends "base.html" %}

{% block content%}
<div class="jumbotron table">
    <p>Download report data for {{dmonth}}</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <tbody>
                <tr>
                    <td>{{ form.batchno.label }}</td>
                </tr>
            <tr>
                <td>{{ form.batchno }}</td>
            </tr>
            <tr>
                <td>{{ form.submit() }}</td>
            </tr>
            </tbody>
        </table>

    </form>
</div>
{% endblock %}