{% extends "base.html" %}

{% block content%}

<div style="margin-right: 1%; margin-left: 2%; margin-top: 1%;">
    <p>Outstanding claims from {{session['sdate']}} to {{session['edate']}}</p>
</div>

<div style="margin-right: 1%; margin-left: 2%; margin-bottom: 2%;">
    <table class="table-bordered">
        <tr>
            <th>Date</th>
            <th>Claim</th>
            <th>Type</th>
            <th>Reference</th>
            <th>Amount</th>
        </tr>
        {% for item in alist %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
            </tr>
        {% endfor %}

    </table>

</div>



{% endblock %}